<!-- {% extends "layout.html" %}
{% block title %}Projects - Deepmani Mishra{% endblock %}
{% block content %}
<h2>My Projects</h2>
<div class="grid">
    <div class="project-card">
        <img src="{{ url_for('static', filename='images/project1.jpg') }}" alt="Project 1">
        <h3>Project Title 1</h3>
        <p>Short description of the project.</p>
    </div>
    <div class="project-card">
        <img src="{{ url_for('static', filename='images/project2.jpg') }}" alt="Project 2">
        <h3>Project Title 2</h3>
        <p>Updating Soon...</p>
    </div>
     Add more projects here
</div>
{% endblock %} -->
